{% extends 'layout.html' %}
{% block title %}修改密码{% endblock %}
{% block css %}
    <style>
      .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 20px;
        }

        .card .h5 {
            width: 100%;
            text-align: center;
            background-color: #6c757d;
            color: white;
            padding: 10px 0;
            border-radius: 5px 5px 0 0;
        }

        .card .table-container {
            width: 50%;
            margin-top: 20px;
        }

        .card .table-container table {
            width: 100%;
        }

        .card .table-container table tr {
            display: flex;
            justify-content: space-between;
        }

        .card .table-container table td {
            flex: 1;
        }

        .card .text-center {
            margin-top: 20px;
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <a href="/user_view">
        <button type="reset" class="btn btn-danger">返回</button>
    </a>
    <div class=" card">
        <div class="h5 text-bg-secondary">
            <h1 style="text-align: center">修改密码</h1>
        </div>
        <div class="table-container">
            <form id="new-form" method="POST" action="/change_password/">
                {% csrf_token %}
                {% if success_message %}
                    <div class="alert alert-success text-center mt-3" id="qd">
                        <strong>{{ success_message }}</strong>
                    </div>
                {% endif %}
                <div class="list-group list-group-flush p-2 text-center">
                    <p>原密码：<input type="password" name="old_password" required=""></p>
                    <p>新密码：<input type="password" name="new_password" required=""></p>
                    <p>确认新密码：<input type="password" name="confirm_password" required=""></p>
                </div>
                <div class="text-center">
                    <button id="change" type="submit" class="btn btn-primary">修改</button>
                </div>
                {% if error_message %}
                    <div class="alert alert-danger text-center mt-3" id="qd">
                        <strong>{{ error_message }}</strong>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#new-form').click(function (event) {
                $('#qd').hide();
            });
        });
    </script>
{% endblock %}